<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCIdiIO6uFXEGHOlDkEXdc_jB7XNLEEIA0",
        authDomain: "yys-pwa-test.firebaseapp.com",
        databaseURL: "https://yys-pwa-test.firebaseio.com",
        projectId: "yys-pwa-test",
        storageBucket: "yys-pwa-test.appspot.com",
        messagingSenderId: "135714113423",
        appId: "1:135714113423:web:503a4d7a0aae467c216dfa",
        measurementId: "G-TMGDD8K52F"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>

<!-- 토큰 값을 얻기 위함 
    누구에게 보낼지 알려주는 값
    주소 같은 느낌

-->